.App {
  text-align: justify;
  background-color: hotpink;
}

.container{
 justify-content: center;
 text-align: center;
 background-color:darksalmon;
 margin-top: 10%;
 margin-bottom: 40%;
 margin-left: 30%;
 margin-right: 30%;
}

.btn{
  background-color: darkcyan;
  border-color: darkcyan;
  border-radius: 10px;
}

.person{
  text-align:left;
  padding:1%;

}

.dis{
  text-align:center;
  border-bottom: 1px;
  border-color: black;
}
